body {
    font-family: Arial, sans-serif;
}

#container {
    text-align: center;
  }

h1 {
    text-align: center;
}

form {
    display: flexbox;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
  }

ul {
    list-style: decimal;
    padding: 0;
    margin: 1em auto;
    max-width: 50%;
    text-align: left;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    background-color: #d9d9d9;
    margin-right: 0.5em;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    flex: 1;
}
